/* Main background pic */
html {
  background: url("https://lh3.googleusercontent.com/W5PvDpFYxERbO4rTIz4G789uWJ1UTbm5s8zbHqOUbxoISlXF8TD19eqsn1Peo_9xgoUmwMPoX2X4-UeFEt2Z6Rt3S3MLTrQpDHuIJFfsjFmH7x5Jfs78kv36Gd421K_53a12pOvvtwrELgtupr2NPkrdCSkF4C2N4arviLzISX2XG_Nlhwf0PDVf6M4WXizvihd2KBz54h59rG27-M6QAU-XQ1OuFjUcKc-rtzIWeL5nVKQjfevuHsCkqAiaEweFSB9_JieS1B5eq3zbrfz-ZE8FDNXdeNCB37NdoolF8Ar7vnb3EINbLS8vlEcTZq-yipyu8-MvvmH0Eh1_7NRPRj7HalKAFbHar5J5bKAtELgXbJBwKyQfEg2KrD5mwwU4eouatCsmPLvNvi4GpS8IdLFN01OXaqHA9qk_6aZPBh00iSHdCCQIlF5MhXHn43sei2Dl8pKK4VEcPWpNJzXQhCbbdZFUdu-IFvoxw_LoB-Fn9pR9OuLdE-0RGU453_JvNiI14nq4rhrcA_tkDSOxW81oca1yoRnCYi9fqJdyq0GwPEGaiqL5irYvyjCCyhu47rJHc2lU4_xdk-bgLaE6vKKzAfkjoVIdYMpMTIHZ4oyOnxsAC5BPc0YeBoMX8Q4uY-0o0-MT74Eqbh-Qw9YqEHg86VzcLCq4_jhJqc3k0DYHYdOXitAdGnnAYY3dukA=w391-h220-no?authuser=0")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Comfortaa", cursive;
  font-size: 62.5%;
  text-align: center;
}

body * {
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  color: rgb(19, 28, 41);
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.9rem;
  text-align: center;
}

h4 {
  font-size: 2.5rem;
}

/* Main page text */
.mainTitle {
  padding-right: 4%;
  margin-top: 10%;
  max-width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle h3 {
  font-size: 3rem;
  font-style: italic;
}

.mainContact h3 {
  font-size: 3rem;
}

#email {
  font-size: 1.5rem;
}

.contactLink {
  justify-self: flex-end;
}

.contactLink h4 {
  font-size: 2rem;
  justify-self: flex-end;
}

/* for small screens */
@media only screen and (max-width: 800px) {
  /* Different picture */

  .mainTitle {
    max-width: 70%;
    padding: 4%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 1px white;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .mainTitle h3 {
    font-size: 2rem;
    font-style: italic;
    text-shadow: 2px 1px white;
  }

  #email {
    font-size: 1rem;
  }
}
