
/* Main background pic */
html {
  background: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1531&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Comfortaa", cursive;
  font-size: 62.5%;
  
  text-align: center;
}

body * {
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.9rem;
  text-align: center;
}

h4 {
  font-size: 2.5rem;
}


/* Main page text */
.mainTitle {
  padding-right: 4%;
  margin-top: 10%;
  max-width: 70%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle h3 {
  font-size: 3rem;
  font-style: italic;
}

.mainContact h3 {
  font-size: 3rem;
}

#email {
  font-size: 1.5rem;
}

.contactLink {
  justify-self: flex-end;
}

.contactLink h4 {
  font-size: 2rem;
  justify-self: flex-end;
}

/* for small screens */
@media only screen and (max-width: 800px) {
  /* Different picture */
  html {
    background: url("https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=637&q=80");
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .mainTitle {
    max-width: 70%;
    padding: 4%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 1px white;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: .5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .mainTitle h3 {
    font-size: 2rem;
    font-style: italic;
    text-shadow: 2px 1px white;
  }

}
