html {
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 62.5%;
  box-sizing: border-box;
  text-align: center;
}

body * {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.9rem;
  text-align: center;
}

h4 {
  font-size: 3rem;
}

.mainContact h3 {
  font-size: 3rem;
}

#email {
  font-size: 1.5rem;
}

.contactLink {
  justify-self: flex-end;
}

.contactLink h4 {
  font-size: 2rem;
  justify-self: flex-end;
}

.crewHead {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 1px solid black;
}

.crewHead h1 {
  font-size: 3rem;
  margin: auto;
}

.crewHead a {
  width: 10%;
  align-self: flex-start;
}

.profPicsRow {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}

.profPic {
  border-radius: 10px;
  width: 20%;
}

.chatFeed {
  display: flex;
  flex-direction: column;
}

.chatLine {
}

/* for small screens */
@media only screen and (max-width: 800px) {
  /* Different picture */
  html {
  }

  .mainTitle {
    max-width: 70%;
    padding: 4%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 1px white;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  .mainTitle h3 {
    font-size: 2rem;
    font-style: italic;
    text-shadow: 2px 1px white;
  }
}
