html {
  background: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1531&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 62.5%;
}

body * {
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.mainTitle {
  padding-right: 4%;
  margin-top: 10%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContact {
  padding-right: 4%;
  margin-bottom: 30%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.9rem;
}

.mainTitle h3 {
  font-size: 3rem;
  font-style: italic;
}

.mainContact h3 {
  font-size: 3rem;
}

.contactLink {
  justify-self: flex-end;
}

.contactLink h4 {
  font-size: 2rem;
  justify-self: flex-end;
}

h4 {
  font-size: 3rem;
}

@media only screen and (max-width: 800px) {
  body {
  }

  .mainTitle {
    padding: 4%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mainTitle * {
    border: 1px solid black;
  }
}
